*{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    color: #dbfcff;
    text-align: center;
    scroll-behavior: smooth;
    text-decoration: none;
    
}
body{
    overflow-x: hidden;
    
}
.container-main{
    
    width: 100vw;
    height: 630vh;
    max-width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #E56399, #7F96FF);
    background-size: 400% 400%;
    animation: GradientBackground 19s ease infinite;
}
.header-main{
    z-index: 1;
    flex-basis: 250px;
    margin: 10px;
    
}
.nav-item{
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    background-color: #320e3b10;
    padding: 5px 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item span{
    margin: 0px 10px;
}
.nav-items-container{
    display: flex;
    border-radius: 100px;
    
}
.main-title{
    margin-top: 200px;
    font-family: 'Unbounded', cursive;
    font-size: 6vw;
}
#welcome{
    height: calc(100vh - 250px);
}
.container-info{
    z-index: 1;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.footer-main{
    z-index: 1;
    flex-basis: 50px;
}
.container-section{
    flex-grow: 1;
    
}


#projects .section-title{
    margin: 0;
    grid-area: header;
    border-radius: 30px;
}
.project-1{
    background-color: #e563993d;
    border-radius: 30px;
}
.project-2{
    background-color: #e563993d;

    border-radius: 30px;
}
.project-3{
    background-color: #e563993d;
    border-radius: 30px;
}
.star:nth-child(2){
    animation: star-hop 2s ease-in-out infinite;
    top: 20%;
    left: 10%;
    position: absolute;
    width:4vw;
    filter: invert(100%) sepia(54%) saturate(6045%) hue-rotate(172deg) brightness(115%) contrast(105%);
}
.star:nth-child(3){
    animation: star-hop 2s ease-in-out infinite;
    top: 60%;
    right: 5%;
    position: absolute;
    width: 4vw;
    filter: invert(100%) sepia(54%) saturate(6045%) hue-rotate(172deg) brightness(115%) contrast(105%);
}
.spark{
    animation: star-hop 3s ease-in-out infinite;
    position: absolute;
    width: 20px;
    filter: invert(100%) sepia(54%) saturate(6045%) hue-rotate(172deg) brightness(115%) contrast(105%);
}
.shooting-star{
    position: absolute;
    top: -100px;
    right: -100px;
    filter: invert(100%) sepia(54%) saturate(6045%) hue-rotate(172deg) brightness(115%) contrast(105%);
}
#shooting-star-1{
    width: 10px;
    animation: star-shoot-1 6s ease-in-out 3s infinite;
}
#shooting-star-2{
    width: 20px;
    animation: star-shoot-2 8s ease-in-out 3s infinite;
}
#shooting-star-3{
    width: 15px;
    animation: star-shoot-3 4s ease-in-out 3s infinite;
}
.spark:nth-child(4){
    left: 100px;
    top: 500px;
}
.spark:nth-child(5){
    left: 200px;
    top: 600px;
}
.spark:nth-child(6){
    left: 500px;
    top: 620px;
}
.spark:nth-child(7){
    left: 800px;
    top: 700px;
}
.spark:nth-child(8){
    left: 1000px;
    top: 450px;
}
.spark:nth-child(9){
    right: 200px;
    top: 580px;
}
.spark:nth-child(10){
    right: 360px;
    top: 300px;
}
.spark:nth-child(11){
    left: 1200px;
    top: 800px;
}
.spark:nth-child(12){
    left: 300px;
    top: 820px;
}
.spark:nth-child(13){
    right: 300px;
    top: 720px;
}
.spark:nth-child(14){
    left: 300px;
    top: 320px;
}
.spark:nth-child(15){
    left: 800px;
    top: 220px;
}
.spark:nth-child(16){
    left: 1200px;
    top: 200px;
}
.spark:nth-child(17){
    left: 450px;
    top: 200px;
}
.spark:nth-child(18){
    left: 400px;
    top: 435px;
}
.spark:nth-child(19){
    right: 400px;
    top: 420px;
}
.nav-item:hover span{
    animation: wave 2s ease-in-out infinite;
}
.brush{
    transition: all 2s;
    position: fixed;
    margin: 20px;
    bottom: 0px;
    width: 70px;
    height: 45px;
    object-fit: cover;
    object-position: 100% 100%;
    filter: invert(100%) sepia(54%) saturate(6045%) hue-rotate(172deg) brightness(115%) contrast(105%);
}
.brush-a:hover .brush{
    height: 70px;
}
#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paint{
    z-index: 0;
    top: 100vh;
    position: absolute;
    width: 5px;
    height: 300vh;
    background-color: #dbfcff00;
    box-shadow: 1px 2px 140px #dbfcff41 , -1px -2px 140px #dbfcff41;
}
.brush-a{
    z-index: 5;
bottom: 0px;
position: fixed;
height: 100px;
width: 100px;
display: flex;
justify-content: center;
}
.logo{
    opacity: 70%;
    box-shadow: 1px 2px 5px rgb(255, 255, 255) , -1px -2px 5px rgb(255, 255, 255);
    height: 20vw;
    width: 20vw;
    border-radius: 200px;
}
.container-about{
    justify-content: space-between;
    display: flex;

}
#about{
    flex-grow: 0;
}
.about-right{
    font-size: 10px;
    width: 100%;
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 500px;
    margin-top: 600px;
}
.about-left{
    flex-direction: column-reverse;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 70px;
}
.about-left p{
    width: 90%;
}
.skills{
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #7f96ff44;
    padding: 15px;
    border-radius: 20px;
    margin: 5px;
    flex-grow: 1;
    justify-content: space-between;
}
.skill-icon{
    width: 5vw;
    filter: invert(100%) sepia(54%) saturate(6045%) hue-rotate(172deg) brightness(115%) contrast(105%);
}
.project-1{
    
    display: flex;
    justify-content: center;
}
.project-iframe-1{

    width:1000px;
    height:800px;
    margin: 100px;
    overflow: hidden;
    border-radius: 50px;

}
.iframe-container-1{
    width: 90%;
    height: 40%;
    overflow: hidden;
    border-radius: 30px; 
}
.project-2{
    
    display: flex;
    justify-content: center;
}
.project-iframe-2{
    width:700px;
    height:1600px;
    margin: 100px;
    overflow: hidden;
    border-radius: 50px;
    overflow: hidden
}
.iframe-container-2{
    width: 90%;
    height: 100%;
    overflow: hidden;
    border-radius: 30px; 
}
.project-3{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-iframe-3{
    align-self: center;
    width: 100%;
    height: 100%;
    overflow: hidden
}
.iframe-container-3{
    width:1700px;
    height:1000px;
    margin: 100px;
    overflow: hidden;
    border-radius: 30px; 
}
.form-container{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.email{
    font-size: 30px;
    border-radius: 20px 20px 0px 0px;
    border: none;
    width: 100%;
    background-color: #7f96ff70;
}
.message{
    font-size: 20px;
    border: none;
   height: 500px;
   width: 100%;
   resize:both;
   overflow:auto;
   background-color: #7f96ff70;
}
.form-container button{
    font-size: 30px;
    background-color: #7f96ff70;
    height: 60px;
    border: none;
    width: 100%;
    border-radius: 0px 0px 20px 20px;

}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-main{
    z-index: 0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #bf76bf;
}
.footer-right{
    padding: 20px;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-right ul{
    list-style: none;
}
.footer-left{
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.spotify{

    overflow: hidden;
    margin: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 255, 8, 0.468);
    border-radius: 50px;
    padding: 10px 20px;
    width: 15vw;
}
.spotify img{
    filter: invert(1);
    width: 30px;
}

@media screen and (max-width:800px){
    .spotify{
        display: none;
    }
    .project-2{
        display: none;
    }
    .about-left{
        font-size: 20px;
    }
    
}

@keyframes wave {
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(-20deg)
    } 
    100%{
        transform:rotate(0deg);
    } 
}   
@keyframes star-hop {
0%{
    transform: translateY(0px);
}
50%{
    transform: translateY(5px);
} 
100%{
    transform: translateY(0px);
}

}
@keyframes star-shoot-1 {
    from{
        top: -10%;
        right: 30%;
    }
    to{
        top: 80%;
        right: 110%;
    } 
    }
    @keyframes star-shoot-2 {
        from{
            top: -10%;
            right: 10%;
        }
        to{
            top: 110%;
            right: 110%;
        } 
        }
        @keyframes star-shoot-3 {
            from{
                top: 20%;
                right: -10%;
            }
            to{
                top: 110%;
                right:110%;
            } 
            }
            @keyframes GradientBackground {
                0% {
                  background-position: 0% 50%;
                }
            
                50% {
                  background-position: 100% 50%;
                }
            
                100% {
                  background-position: 0% 50%;
                }
              };
            