.footer-container{
    margin-top: 2em;
    width: 100%;
    height: 5em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-footer-container{
    padding-top: 1em;
    border-top: 2px rgba(255, 192, 203, 0.200) solid;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-items{
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;

}
.footer-item-text{
    font-size: 1em;
}
.footer-link{
    text-decoration: none;
    color: black;
}
.footer-item-text {
    font-size: 1em; /* default font size */
  }
  
  .footer-item:hover .footer-item-text {
    font-size: 1em; /* increased font size on hover */
  }
  .tooltip{
    position: absolute;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 7em;
  }